body {
  background-color: #808080;
}

#header-space {
  border: 2px ridge #c9c0bb;
  height: 93px;
  width: 100%;
  padding-top: 0px auto;
  margin-top: -10px;
  background-image: url("sky.jpeg");
  background-size: cover; /* Adjusts the image size to cover the container */
}

#devops-dash {
  border: 2px solid #c9c0bb;
  background: linear-gradient(to bottom, #ffffff, #99b8d2);
  padding: 10px;
  width: 400px;
  color: #565451;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px rgba(81, 81, 73, 0.5);
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: center;
  font-family: Georgia, serif;
}

.center-this {
  text-align: center;
  display: block;
  align-content: center;
  margin: 0px auto;
}

#refreshButton {
  margin-bottom: 3px;
  background: #d4e2eb;
  border: 1px ridge #c9c0bb;
  color: #565451;
}

.light-text {
  border: 1px solid rgb(230, 223, 223);
  width: 250px;
  background: #d4e2eb;
  color: #565451;
  border: 2px solid #ccc;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.repo-list-container {
  width: 250px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  word-wrap: break-word;
  margin: 10px;
}

.repo-list {
  list-style: none;
  padding: 0;
}

.repo-list li {
  margin-bottom: 10px;
}

.dashboard-box {
  width: 250px;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  align-content: center;
  background-color: #e9eff1;
  border: 2px ridge #e5e4e2;
  overflow-y: auto;
  word-wrap: break-word;
  list-style: none;
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding-bottom: 15px;
  text-align: center;
  font-size: 14px;
  height: 25px;
  background: rgb(91, 90, 96);
  color: white;
  opacity: 0.5;
}

.github,
.docker,
.jenkins,
.gitlab,
.k8s,
.terraform,
.elastic {
  position: relative;
}

.github::before,
.docker::before,
.jenkins::before,
.gitlab::before,
.k8s::before,
.terraform::before,
.elastic::before {
  content: "";
  opacity: 0.05; /* adjust the opacity as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain; /* adjust to 'cover' if you want the image to fill the box */
  background-repeat: no-repeat;
  background-position: center;
}

.github::before {
  background-image: url("github.png");
}

.docker::before {
  background-image: url("docker.png");
}

.jenkins::before {
  background-image: url("jenkins.png");
}

.gitlab::before {
  background-image: url("gitlab.png");
}

.k8s::before {
  background-image: url("k8s.png");
}

.terraform::before {
  background-image: url("terraform.png");
}

.elastic::before {
  background-image: url("elasticsearch.png");
}
