<!DOCTYPE html>
<html>

<head>
    <title>DIY DevOps Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div id="header-space">
        <nav class="navbar">
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="menu" id="menu">
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
        <h1 id="devops-dash" class="center-this">DIY DevOps Dashboard</h1>
        <span class="center-this"><button id="refreshButton">Refresh</button></span>
    </div>
    <div class="dashboard">
        <span>
            <h2 class="center-this light-text">Credentials</h2>
            <div class="dashboard-box center-this credentials">
                Enter credentials and click save.
            </div>
        </span>
    </div>
    <div class="disclaimer">
        <p>This project is for demo purposes only.</p>
    </div>

    <script>
        // Refresh the page every 5 minutes (300,000 milliseconds)
        setInterval(function () {
            location.reload();
        }, 300000);

        // Handle refresh button click
        const refreshButton = document.getElementById('refreshButton');
        refreshButton.addEventListener('click', function () {
            location.reload();
        });
    </script>
</body>

</html>