<!DOCTYPE html>
<html>

<head>
    <title>DIY DevOps Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div id="header-space">
        <nav class="navbar">
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="menu" id="menu">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <h1 id="devops-dash" class="center-this">DIY DevOps Dashboard</h1>
        <span class="center-this"><button id="refreshButton">Refresh</button></span>
    </div>
    </div>

    <div class="dashboard">
        <span>
            <h2 class="center-this light-text">GitHub Credentials</h2>
            <div class="dashboard-box repo-list-container github">
                <p>GitHub Username: {{ github_username }}</p>
                <p>GitHub Access Token: ***************</p> <!-- Replace with asterisks or any other character -->
            </div>
        </span>
        <span>
            <h2 class="center-this light-text">Docker Credentials</h2>
            <div class="dashboard-box center-this docker">
                <p>N/A</p>
            </div>
        </span>
        <span>
            <h2 class="center-this light-text">GitLab Credentials</h2>
            <div class="dashboard-box center-this gitlab">
                <p>GitLab Username: {{ gitlab_username }}</p>
                <p>GitLab Group ID: {{ gitlab_group_id }}</p>
                <p>GitLab Token: ***************</p> <!-- Replace with asterisks or any other character -->
            </div>
        </span>
        <span>
            <h2 class="center-this light-text">Jenkins Credentials</h2>
            <div class="dashboard-box center-this jenkins">
                <p>Jenkins Token: ***************</p> <!-- Replace with asterisks or any other character -->
            </div>
        </span>
        <span>
            <h2 class="center-this light-text">Kubernetes Credentials</h2>
            <div class="dashboard-box center-this k8s">
                <p>N/A</p>
            </div>
        </span>
        <span>
            <h2 class="center-this light-text">Terraform Credentials</h2>
            <div class="dashboard-box center-this terraform">
                <p>N/A</p>
            </div>
        </span>
        <span>
            <h2 class="center-this light-text">Elasticsearch Creds</h2>
            <div class="dashboard-box center-this elastic">
                <p>N/A</p>
            </div>
        </span>
    </div>


    <div class="disclaimer">
        <p>This project is for demo purposes only.</p>
    </div>

    <script>
        // Refresh the page every 5 minutes (300,000 milliseconds)
        setInterval(function () {
            location.reload();
        }, 300000);

        // Handle refresh button click
        const refreshButton = document.getElementById('refreshButton');
        refreshButton.addEventListener('click', function () {
            location.reload();
        });
    </script>
</body>

</html>